body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flex-part{
    display: flex;
    padding-bottom: 2%;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.line-maker{
    border-left: 7px solid rgb(245 150 96);
}
.name-highlight{
    color: rgb(71, 124, 240);
}
.link-button{
    text-decoration: none;
    border: 2px solid;
    padding: 10px 30px;
    background-image: linear-gradient(45deg, rgb(71, 124, 240), rgb(245 150 96));
    color: white;
    font-weight: 900;
    border-radius: 10px;
    
}
.half-width{
    width: 50%;
    margin-left: 12%;
    margin-top: 5%;
}
.half-width img{
    width: 70%;
}
.gap-in-both{
    margin: 40px 0 50px 0;
}
.text-position-center{
    text-align: center;
}
.mission-vission-goal{
    width: 22%;
    height: 400px;
    text-align: justify;
    margin-left: 3%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgb(255 238 238);
}
.mission-vission-goal img{
    width: 40%;
}
.develop-part-flex{
    display: flex;
    padding-bottom: 4%;
}
.half-develop-width{
    width: 20%;
    margin-left: 12%;
    margin-top: 5%;
}
.half-develop-width img{
    width: 130%;
}
.followers{
    box-shadow: 10px 10px 30px gray;
    display: flex;
    width: 50%;
    height: 150px;
    margin-left: 25%;
    margin-bottom: 60px
}
.numbers-of-follower{
    width: 40%;
    text-align: center;
}
.numbers-font{
    font-size: 40px;
    font-weight: 700;
}
small{
    color: gray;
}
footer{
    text-align: center;
    border: 2px solid;
    margin-top: 5%;
    padding: 2% 0 5% 0;
    color: white;
    background-color: black;
}